{% extends "layout.html" %} {% block title %} Authorize {% endblock title %} {% block head %} {{ super() }} {% endblock head
%} {% block content %}
<form class="form" action="/auth" method="post">
    <h1 class="form-title">Authorize</h1>
    <p>An application is asking for your authorization.</p>

    <label class="form-label" for="client_id">Client ID</label>
    <input class="form-input" type="text" name="client_id" value="{{client_id}}" readonly>

    <label class="form-label" for="redirect_uri">Redirect URI</label>
    <input class="form-input" type="text" name="redirect_uri" value="{{redirect_uri}}" readonly>

    <input type="hidden" name="me" value="{{me}}">
    <input type="hidden" name="state" value="{{state}}">
    <input type="hidden" name="scope" value="{{scope}}">

    <button class="form-submit" type="submit">Authorize site</button>
</form>
{% endblock content %}